<div data-ng-controller="EventListController as eventList">
    <md-toolbar layout="row" class="md-theme-light">
        <h1 layout-align="start center" class="md-toolbar-tools">
            <span>Event List</span>
        </h1>
        <div layout-align="start center" class="md-toolbar-tools">
            <md-input-container layout="row" flex layout-align="center center" style="padding-bottom: 0px;">
                <span class="glyphicon glyphicon-search margin-right-10" aria-hidden="true"></span>
                <input type="text" ng-model="eventList.filter">
            </md-input-container>
        </div>
    </md-toolbar>
    <md-content class="md-whiteframe-z1 md-padding" style="height: 100%">
        <label data-ng-show="eventList.events.length == 0" class="md-padding" layout layout-sm="column" flex layout-align="center">
            <span layout layout-align="center" flex >There is no events available!</span>
            <a layout layout-align="center" flex href="#/event/new">&nbsp;Click here to create a event...</a>
        </label>
        <md-list data-ng-show="eventList.events.length > 0">
            <md-item ng-repeat="event in eventList.events | filter: eventList.filter" layout-align="center center">
                <md-item-content layout="row" layout-sm="column" layout-md="column" flex>
                    <div layout="column" layout-align="center center" flex class="md-tile-content">
                        <div class="list-group" style="width: 100%;" >
                            <span class="list-group-item" style="text-align: center;">
                                <i class="glyphicon glyphicon-circle-arrow-right"></i>&nbsp; {{event.what}}
                            </span>
                            <a class="list-group-item" href="{{event.organizer.url}}" target="_blank" style="text-align: center;">
                                <i class="glyphicon glyphicon-user"></i>&nbsp; {{event.organizer.name}}
                            </a>
                            <span class="list-group-item" style="text-align: center;">
                                <i class="glyphicon glyphicon-calendar"></i>&nbsp; {{event.when | date : 'EEEE, MMMM d, y h:mm:ss a'}}
                            </span>
                            <a class="list-group-item" href="{{event.whereDetails.url}}" target="_blank" style="text-align: center;">
                                <i class="glyphicon glyphicon-map-marker"></i>&nbsp; {{event.where}}
                            </a>
                            <span class="list-group-item">
                                <p>Description: {{event.description}}</p>
                            </span>
                            <span class="list-group-item" style="text-align: right;">
                                place left: <bold>{{eventList.calculatePlaceLeft(event)}}</bold>
                            </span>
                        </div>
                    </div>
                </md-item-content>
                <md-item-content layout="row" layout-sm="column" layout-md="column">
                    <div layout flex layout-align="center center">
                        <md-button class="md-raised md-primary margin-right-10" data-ng-show="eventList.isEditBtnVisible(event)" data-ng-click="eventList.edit(event)">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span hide-sm>edit</span>
                        </md-button>
                        <md-button class="md-raised md-primary margin-right-10" 
                        data-ng-click="eventList.partecipate(event, eventList.isTheAttendeesListFull(event))" 
                        data-ng-show="eventList.isJoinBtnVisible(event)">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span hide-sm>join <span data-ng-show="eventList.isTheAttendeesListFull(event)">the waiting list</span></span>
                        </md-button>
                        <md-button class="md-raised md-warn margin-right-10" 
                        data-ng-click="eventList.left(event, eventList.isTheAttendeesListFull(event))"
                        data-ng-show="eventList.isLeftBtnVisible(event)">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span hide-sm>left <span data-ng-show="eventList.isTheAttendeesListFull(event)">the waiting list</span></span>
                        </md-button>
                        <md-button class="md-raised md-accent margin-right-10" data-ng-show="eventList.isAttendeesBtnVisible(event)" data-ng-click="eventList.showAttendees(event, $event)">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span hide-sm>attendees</span>
                        </md-button>
                        <md-button class="md-raised md-primary" data-ng-show="false">
                            <span class="glyphicon glyphicon-comment"></span>
                            <span hide-sm>chat</span>
                        </md-button>
                    </div>
                </md-item-content>
                <hr data-ng-hide="$index == eventList.events.length -1 "/>
                <!-- <pre>{{event|json:true}}</pre> -->
            </md-item>
        </md-list>
    </md-content>
</div>
