<div data-ng-controller="EventListController as eventList">
    <md-toolbar layout="row" class="md-theme-light">
        <h1 layout-align="start center" class="md-toolbar-tools">
            <span>Event List</span>
        </h1>
        <div layout-align="start center" class="md-toolbar-tools">
            <md-input-container layout="row" flex layout-align="center center" style="padding-bottom: 0px;">
                <span class="glyphicon glyphicon-search margin-right-10" aria-hidden="true"></span>
                <input type="text" ng-model="eventList.filter">
            </md-input-container>
        </div>
    </md-toolbar>
    <md-content class="md-whiteframe-z1 md-padding" style="height: 100%">
        <label data-ng-hide="eventList.showEvents" class="md-padding" layout layout-sm="column" flex layout-align="center">
            <span layout layout-align="center" flex >Loading...</span>
        </label>
        <label data-ng-show="eventList.showEvents && eventList.getVisibleEvents(eventList.events) == 0" class="md-padding" layout layout-sm="column" flex layout-align="center">
            <span layout layout-align="center" flex >There is no events available!</span>
            <a layout layout-align="center" flex href="#/event/new">&nbsp;Click here to create a event...</a>
        </label>
        <md-list data-ng-show="eventList.events.length > 0">
            <!-- <event data-ng-repeat="event in eventList.events | removeOldEvent | filter: eventList.filter" event-obj="event" show-btns="false"></event> -->
            <event data-ng-repeat="event in eventList.events | removeOldEvent | filter: eventList.filter" event-obj="event" show-btns="false"></event>
        </md-list>
    </md-content>
</div>
