<!DOCTYPE html>
<html lang="en" data-ng-app="app" class="no-js" data-ng-cloak data-ng-controller="AppController as app">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{app.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <link rel="shortcut icon" href="http://www.primeur.com/favicon.ico"> -->
    <!-- build:css css/app.css -->  
    <link rel="stylesheet" href="bower-components/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" href="bower-components/angular-material/angular-material.css">
    <link rel='stylesheet' href="bower-components/md-date-time/dist/md-date-time.css">
    <link rel="stylesheet" href="css/app.css">
    <!-- endbuild -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
</head>

<body class="body-background" layout="column">
    <md-toolbar class="md-primay">
        <div layout="row" flex>
          <div layout flex layout-align="start center" style="padding-left: 10px;" data-ng-show="app.userLoggedIn.name">
              <md-button class="md-fab md-primary md-hue-1" data-ng-click="app.showGridBottomSheet($event)" aria-label="">
                <i class="fa fa-bars fa-2x"></i>
                <md-tooltip>
                    show menu
                </md-tooltip>
              </md-button>
              &nbsp;
              <md-button class="md-fab md-primary md-hue-2" aria-label="create new event" data-ng-show="!app.isLocation('event/new')" data-ng-click="app.goTo('event/new')">
                <i class="fa fa-calendar fa-2x"></i>
                <md-tooltip>
                    create new event
                </md-tooltip>
              </md-button>
              &nbsp;
              <md-button class="md-fab md-primary md-hue-2" aria-label="show event-list" data-ng-show="!app.isLocation('event-list')" data-ng-click="app.goTo('event-list')">
                <i class="fa fa-list-alt fa-2x"></i>
                <md-tooltip>
                    show event-list
                </md-tooltip>
              </md-button>
          </div>
          <div layout layout-align="center center" hide-sm flex>
            <h3>&nbsp;{{app.title}}</h3>
          </div>
          <div data-ng-show="app.userLoggedIn.name" layout flex layout-align="end center" style="padding-right: 10px;">
            <a href="{{app.userLoggedIn.url}}" target="_blank" layout style="text-decoration:none;color: white;">
              <span>
                <img data-ng-src="{{ app.userLoggedIn.img}}" style="width: 52px; height: 52px; border-radius: 50%;"/>
                <span hide-sm hide-md style="font-size: 0.8em;">&nbsp; {{app.userLoggedIn.name}}</span>
              </span>
            </a>
            &nbsp;
            <md-button class="md-fab md-warn" aria-label="sign-out" data-ng-click="app.logout()">
              <i class="fa fa-sign-out fa-2x"></i>
            </md-button>
          </div>
        </div>
    </md-toolbar>
    <md-content layout="row" flex class="body-background">
        <div layout="column" flex id="content" class="body-background">
            <div data-ng-show="loadingInProgress" layout layout-align="center center" flex style="overflow: hidden;">
              <i class="fa fa-spinner fa-pulse fa-3x"></i>
            </div>
            <div data-ng-hide="loadingInProgress" layout="column" layout-align="center" flex class="body-background md-padding view-padding" style="overflow-x: hidden;" data-ng-view></div>
        </div>
    </md-content>
</body>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<!-- build:js js/app.js --> 
<script src="bower-components/angular/angular.js"></script>
<script src="bower-components/angular-route/angular-route.js"></script>
<script src="bower-components/angular-touch/angular-touch.js"></script>
<script src="bower-components/angular-animate/angular-animate.js"></script>
<script src="bower-components/angular-aria/angular-aria.js"></script>
<script src="bower-components/angular-material/angular-material.js"></script>
<script src="bower-components/angular-messages/angular-messages.js"></script>
<script src="bower-components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower-components/md-date-time/dist/md-date-time.js"></script>
<script src="bower-components/ngmap/build/scripts/ng-map.min.js"></script>
<script src="bower-components/ngAutocomplete/src/ngAutocomplete.js"></script>
<script src="bower-components/firebase/firebase.js"></script>
<script src="bower-components/angularfire/dist/angularfire.js"></script>
<script src="js/app.js"></script>
<script src="js/app-controllers.js"></script>
<script src="js/app-factories.js"></script>
<script src="js/app-filters.js"></script>
<script src="js/app-directives.js"></script>
<!-- endbuild -->


</html>
